@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.design-page-styles {
  background-image: url("./resources/homepage.jpg"); /*backfround image*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 1000px;
  height: 350px;
  margin: auto;
  background: #ffffff;
  justify-content: left;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 45px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.home-text h3 {
  /*title of the homescreen message*/
  text-align: center;
  width: 500px;
  /* height: 9999px; */
  margin-left: 200px;
  margin-top: 30px;
  color: #020101;
  font-size: 50px;
  font-style: normal;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.home-text p {
  /*text that goes inside of white box in home screen*/
  text-align: center;
  /* width: 500px; */
  /* height: 500px; */
  margin-left: 30px;
  color: #020101;
  font-size: 35px;
  margin-top: 50px;
  font-style: normal;
  font-family: "monospace";
}

.auth-inner-home {
  /*white box in the home screen*/
  width: 1000px;
  height: 1000px;
  margin-left: -225px;
  margin-top: -100px;
  background-color: #ffffff;
  justify-content: left;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

/*General app styling*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.board-container {
  margin-top: 60px;
}
